name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    # - name: Build INPC
    #   run: |
    #     cd Fonderie.INPC
    #     dotnet build --configuration Release
    # - name: Build Resw sample
    #   run: |
    #     cd Fonderie.Resw
    #     dotnet build --configuration Release
